*{
    font-family:Verdana, sans-serif;    
}
body{
    background-image:url(BG.png);
    background-repeat: no-repeat;
    background-size:cover;
    color:white;
    font-family:Verdana, sans-serif;
}
header{
    width:100%;
    padding-bottom:15px;
}
aside{
    width:25%;
    float:left;
    background-color:rgba(255, 255, 255, 0.8);
    border-radius:5px;
    color:black;
    font-size:12.5px;
}
section{
    width:75%;
    float:left;
}
footer{
    width:100%;
    clear:both;
    font-size:9px;
}